/* Default Light Mode Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidenav {
  position: fixed;
  width: auto;
  height: 100%;
  background-color: #4caf50; /* Green */
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  /* position: relative; */
  z-index: 1;
}

.sidenav .logo img {
  width: 150px;
  margin-bottom: 20px;
}

.sidenav ul {
  list-style: none;
  padding: 0;
}

.sidenav ul li {
  margin-bottom: 10px;
}

.sidenav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.sidenav ul li a:hover {
  background-color: #45a049; /* Darker Green */
}

.main-content {
  margin-top: 4vw;
  margin-left: 10vw;
  flex: 1;
  padding: 40px;
  transition: background-color 0.3s;
}

header {
  background-color: #2196f3; /* Blue */
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.recent-activity ul {
  padding: 0;
  list-style-type: none;
}

.recent-activity ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.recent-activity ul li:last-child {
  border-bottom: none;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #1f1f1f;
  color: #ccc;
}

.sidenav.dark-mode {
  background-color: #333;
}

.sidenav.dark-mode ul li a {
  color: #ccc;
}

.main-content.dark-mode {
  background-color: #333;
  color: #ccc;
}

.section.dark-mode {
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

header.dark-mode {
  background-color: #1976d2; /* Darker Blue */
}

/* Dark Mode Toggle Button */
.dark-mode-toggle {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.dark-mode-toggle img {
  width: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidenav {
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -100%;
    height: 100vh;
    transition: left 0.3s ease;
  }

  .sidenav.open {
    left: 0;
  }

  .main-content {
    padding: 20px;
    margin-left: 0;
  }

  .section {
    margin-bottom: 20px;
  }

  .sidenav ul li a {
    padding: 10px;
  }
}
