:root {
  --darkmode: #fff;
  --lightmode: #000;
  --rose: #f72585ff;
  --fandango: #b5179eff;
  --grape: #7209b7ff;
  --chrysler-blue: #560badff;
  --dark-blue: #480ca8ff;
  --zaffre: #3a0ca3ff;
  --palatinate-blue: #3f37c9ff;
  --neon-blue: #4361eeff;
  --chefchaouen-blue: #4895efff;
  --vivid-sky-blue: #4cc9f0ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

.nav1 {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
nav {
  z-index: 999;
  background-color: #ffffff12;
  position: fixed;
  top: 0.4vw;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: transparent; */
  color: #fff;
  font-size: 1vw;
  padding: 1vw 2vw;
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  outline: none;
  backdrop-filter: blur(10px);
  user-select: none;
}
.logo a {
  font-size: 1.2vw;
  color: #f72585ff;
  text-decoration: none;
  font-weight: 700;
  font-family: cursive;
}
.navitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  > li {
    list-style: none;
  }
  > li a {
    position: relative;
    text-decoration: none;
    color: var(--lightmode);
    cursor: pointer;
    font-size: 1vw;
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid transparent;
    font-weight: 700;
    /* transition: all 0.3s ease-in-out; */
  }
}
.navitem::before {
  border-radius: 2rem;
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  left: 100%;
  top: 90%;
  background: linear-gradient(
    30deg,
    rgb(33, 255, 118) 0%,
    rgb(73, 249, 255) 100%
  );
  opacity: 0;
  z-index: -1;
  transition: all 0.2s;
}

.navitem:hover {
  /* border: 1px solid #000; */
  color: #f72585ff;
  transition: all 0.2s ease-in-out;
}
.navitem:hover::before {
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
}
.profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 0.4vw;
  /* position: relative; */
}
.profile img {
  width: 2.5vw;
  height: 2.5vw;
  background-color: #ffffff48;
  border-radius: 50%;
  border: 2px solid #ccc;
  object-fit: cover;
  object-position: center;
}
.usernameicon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
  color: #f72585ff;
}

.usernameicon i {
  padding-top: 0.2vw;
  font-size: 1.4vw;
  font-weight: 600;
  color: var(--lightmode);
}

.profileitems {
  border-radius: 1rem;
  background-color: #0000001c;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  right: 2%;
  top: 100%;
  backdrop-filter: blur(8px);
  padding: 1vw 2vw;
  gap: 1vw;
  transition: all 0.2s ease-in-out;
  display: none;
  > a {
    color: var(--lightmode);
    text-decoration: none;
    border-bottom: 1.5px solid transparent;
    padding: 0.3vw;
  }
  > a:hover {
    border-bottom: 1.5px solid #e2e2e2;
    color: #f72585ff;
    transition: all 0.2s ease-in-out;
  }
}
.profileitems.active {
  display: flex;
  transition: all 0.8s;
}

@media screen and (max-width: 768px) {
  .nav1 {
    position: absolute;
  }
  .logo a {
    font-size: 2.5vw;
  }
  nav {
    border-radius: 0%;
    width: 100%;
  }
  nav * {
    font-size: 2vw;
  }
  .navitems li a {
    font-size: 2vw;
  }
  .profile img {
    width: 4vw;
    height: 4vw;
  }
  .profile i {
    font-size: 2.8vw;
  }
}
